openapi: 3.0.3
info:
  title: Slid Phi Labs API — discovery, commerce, and hosted MCP
  description: |
    Public discovery, commerce, and integration surface for Slid Phi Labs.
    Start with GET /api/agent for catalog discovery or connect an MCP client to POST /mcp.
    Suite is a metered hosted service (6.9 GB / 3 h unpaid, then about 5¢/GB).
    Public API and MCP catalog access do not expose protected compression engines or customer operations.
  version: 1.7.1
  contact:
    name: Slid Phi Labs
    email: corey@slidphilabs.com
    url: https://www.slidphilabs.com
  x-logo:
    url: https://www.slidphilabs.com/assets/ledger/mark.jpg?v=logo-20260904
servers:
  - url: https://www.slidphilabs.com
    description: Production
tags:
  - name: home
    description: Feel-at-home bootstrap
  - name: auth
    description: One lab account for every product
  - name: discovery
    description: Platform & agent discovery
  - name: commerce
    description: x402 catalog & suite jobs
  - name: compression
    description: Web codec demo API
  - name: mcp
    description: Hosted Streamable HTTP Model Context Protocol server
  - name: olympiad
    description: Great Agentic Olympiad (tryouts · quarterly)
  - name: toys
    description: Toy Store (fun · theory · artifacts)
paths:
  /api/auth:
    get:
      tags: [auth]
      summary: Who is this token
      security: [{ bearerAuth: [] }]
      responses:
        "200": { description: "{ ok, user }" }
        "401": { description: need_login }
    post:
      tags: [auth]
      summary: signup or login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action: { type: string, enum: [signup, login] }
                email: { type: string }
                password: { type: string }
                name: { type: string }
      responses:
        "200": { description: login ok }
        "201": { description: signup ok }
  /mcp:
    get:
      tags: [mcp]
      summary: MCP server card (same as /.well-known/mcp/server-card.json)
    post:
      tags: [mcp]
      summary: Streamable HTTP MCP JSON-RPC (initialize, tools/list, tools/call, ping)
  /api/welcome:
    get:
      tags: [home]
      summary: Welcome home (agent-friendly bootstrap)
      operationId: welcome
      responses:
        "200":
          description: Friendly dual-surface orientation
          content:
            application/json:
              schema:
                type: object
  /api/agent:
    get:
      tags: [discovery]
      summary: Source-of-truth agent discovery (v1.4+)
      operationId: agentDiscovery
      responses:
        "200":
          description: Platform map, rails, catalog pointers, buy examples
          content:
            application/json:
              schema:
                type: object
  /api/olympiad:
    get:
      tags: [olympiad, discovery]
      summary: Great Agentic Olympiad discovery (tryouts phase · quarterly steady state)
      operationId: olympiadDiscovery
      parameters:
        - name: view
          in: query
          schema:
            type: string
            enum: [discovery, entry, governance, proposals, records]
      responses:
        "200":
          description: Season, tryouts, entry path, governance weights, sponsor
    post:
      tags: [olympiad]
      summary: Register intent, team draft, propose, or vote
      operationId: olympiadAction
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                  enum: [register, enter, intent, team, propose, vote]
      responses:
        "200":
          description: Action result; entry still requires gao-entry payment
  /olympiad.json:
    get:
      tags: [olympiad, discovery]
      summary: Instant-hydrate olympiad board rules (no empty Loading trust leak)
      operationId: olympiadJson
      responses:
        "200":
          description: Full GAO machine map
  /toys.json:
    get:
      tags: [toys, discovery]
      summary: Toy Store catalog (fun · theory · artifact · history)
      operationId: toysJson
      responses:
        "200":
          description: Light-floor toys; not commercial SKUs
  /platform.json:
    get:
      tags: [discovery]
      summary: Dual-surface platform map
      operationId: platformMap
      responses:
        "200":
          description: surfaces + modules + discovery URLs
  /api/x402-products:
    get:
      tags: [commerce]
      summary: List standing SKUs
      operationId: listProducts
      responses:
        "200":
          description: Product catalog
    post:
      tags: [commerce]
      summary: Buy SKU (returns 402 until paid)
      operationId: buyProduct
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sku]
              properties:
                sku:
                  type: string
                  example: try-gate
                email:
                  type: string
                  format: email
      parameters:
        - name: X-PAYMENT
          in: header
          required: false
          schema:
            type: string
          description: x402 payment payload after 402 challenge
      responses:
        "402":
          description: Payment required — pay accepts[] then retry with X-PAYMENT
        "200":
          description: Paid — order_id + access_url
  /api/x402-suite:
    post:
      tags: [commerce]
      summary: Metered suite compression job (x402)
      operationId: suiteJob
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                product:
                  type: string
                  example: auto
                dataClass:
                  type: string
                  example: zeros
                op:
                  type: string
                  example: compress
                bytes:
                  type: integer
                  example: 1048576
                email:
                  type: string
      responses:
        "402":
          description: Pay metered quote
        "200":
          description: job_id issued
  /api/checkout:
    post:
      tags: [commerce]
      summary: Create a human Stripe Checkout session for a public SKU
      operationId: humanCheckout
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sku]
              properties:
                sku:
                  type: string
                email:
                  type: string
                  format: email
      responses:
        "200":
          description: Checkout session or next-step response
  /api/compress:
    post:
      tags: [compression]
      summary: Hosted lossless compression on an authorized AWARE seat
      operationId: hostedCompress
      description: The protected encoder remains hosted. Authorization or an applicable paid access boundary is required.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Compression result with recovery information
        "401":
          description: Authentication required
        "402":
          description: Applicable payment or access boundary
  /api/payments:
    get:
      tags: [commerce]
      summary: Public payment-rail matrix and product lookup
      operationId: paymentMatrix
      responses:
        "200":
          description: Human Stripe, team invoice, and agent x402 payment rails
  /api/web-codec:
    post:
      tags: [compression]
      summary: Free web-mode compress/decompress demo
      operationId: webCodec
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Codec result
  /api/ppp-quote:
    post:
      tags: [compression]
      summary: Human/agent suite quote (metered)
      operationId: pppQuote
      responses:
        "200":
          description: Quote JSON
components:
  securitySchemes:
    x402Payment:
      type: apiKey
      in: header
      name: X-PAYMENT
      description: x402 exact USDC payment proof (Solana mainnet or Base)
