body{margin:0;font-family:system-ui}
.c0{padding:0px;color:#000000;}
.c1{padding:1px;color:#000001;}
.c2{padding:2px;color:#000002;}
.c3{padding:3px;color:#000003;}
.c4{padding:4px;color:#000004;}
.c5{padding:5px;color:#000005;}
.c6{padding:6px;color:#000006;}
.c7{padding:7px;color:#000007;}
.c8{padding:0px;color:#000008;}
.c9{padding:1px;color:#000009;}
.c10{padding:2px;color:#00000a;}
.c11{padding:3px;color:#00000b;}
.c12{padding:4px;color:#00000c;}
.c13{padding:5px;color:#00000d;}
.c14{padding:6px;color:#00000e;}
.c15{padding:7px;color:#00000f;}
.c16{padding:0px;color:#000010;}
.c17{padding:1px;color:#000011;}
.c18{padding:2px;color:#000012;}
.c19{padding:3px;color:#000013;}
.c20{padding:4px;color:#000014;}
.c21{padding:5px;color:#000015;}
.c22{padding:6px;color:#000016;}
.c23{padding:7px;color:#000017;}
.c24{padding:0px;color:#000018;}
.c25{padding:1px;color:#000019;}
.c26{padding:2px;color:#00001a;}
.c27{padding:3px;color:#00001b;}
.c28{padding:4px;color:#00001c;}
.c29{padding:5px;color:#00001d;}
.c30{padding:6px;color:#00001e;}
.c31{padding:7px;color:#00001f;}
.c32{padding:0px;color:#000020;}
.c33{padding:1px;color:#000021;}
.c34{padding:2px;color:#000022;}
.c35{padding:3px;color:#000023;}
.c36{padding:4px;color:#000024;}
.c37{padding:5px;color:#000025;}
.c38{padding:6px;color:#000026;}
.c39{padding:7px;color:#000027;}
.c40{padding:0px;color:#000028;}
.c41{padding:1px;color:#000029;}
.c42{padding:2px;color:#00002a;}
.c43{padding:3px;color:#00002b;}
.c44{padding:4px;color:#00002c;}
.c45{padding:5px;color:#00002d;}
.c46{padding:6px;color:#00002e;}
.c47{padding:7px;color:#00002f;}
.c48{padding:0px;color:#000030;}
.c49{padding:1px;color:#000031;}
.c50{padding:2px;color:#000032;}
.c51{padding:3px;color:#000033;}
.c52{padding:4px;color:#000034;}
.c53{padding:5px;color:#000035;}
.c54{padding:6px;color:#000036;}
.c55{padding:7px;color:#000037;}
.c56{padding:0px;color:#000038;}
.c57{padding:1px;color:#000039;}
.c58{padding:2px;color:#00003a;}
.c59{padding:3px;color:#00003b;}
.c60{padding:4px;color:#00003c;}
.c61{padding:5px;color:#00003d;}
.c62{padding:6px;color:#00003e;}
.c63{padding:7px;color:#00003f;}
.c64{padding:0px;color:#000040;}
.c65{padding:1px;color:#000041;}
.c66{padding:2px;color:#000042;}
.c67{padding:3px;color:#000043;}
.c68{padding:4px;color:#000044;}
.c69{padding:5px;color:#000045;}
.c70{padding:6px;color:#000046;}
.c71{padding:7px;color:#000047;}
.c72{padding:0px;color:#000048;}
.c73{padding:1px;color:#000049;}
.c74{padding:2px;color:#00004a;}
.c75{padding:3px;color:#00004b;}
.c76{padding:4px;color:#00004c;}
.c77{padding:5px;color:#00004d;}
.c78{padding:6px;color:#00004e;}
.c79{padding:7px;color:#00004f;}
.c80{padding:0px;color:#000050;}
.c81{padding:1px;color:#000051;}
.c82{padding:2px;color:#000052;}
.c83{padding:3px;color:#000053;}
.c84{padding:4px;color:#000054;}
.c85{padding:5px;color:#000055;}
.c86{padding:6px;color:#000056;}
.c87{padding:7px;color:#000057;}
.c88{padding:0px;color:#000058;}
.c89{padding:1px;color:#000059;}
.c90{padding:2px;color:#00005a;}
.c91{padding:3px;color:#00005b;}
.c92{padding:4px;color:#00005c;}
.c93{padding:5px;color:#00005d;}
.c94{padding:6px;color:#00005e;}
.c95{padding:7px;color:#00005f;}
.c96{padding:0px;color:#000060;}
.c97{padding:1px;color:#000061;}
.c98{padding:2px;color:#000062;}
.c99{padding:3px;color:#000063;}
.c100{padding:4px;color:#000064;}
.c101{padding:5px;color:#000065;}
.c102{padding:6px;color:#000066;}
.c103{padding:7px;color:#000067;}
.c104{padding:0px;color:#000068;}
.c105{padding:1px;color:#000069;}
.c106{padding:2px;color:#00006a;}
.c107{padding:3px;color:#00006b;}
.c108{padding:4px;color:#00006c;}
.c109{padding:5px;color:#00006d;}
.c110{padding:6px;color:#00006e;}
.c111{padding:7px;color:#00006f;}
.c112{padding:0px;color:#000070;}
.c113{padding:1px;color:#000071;}
.c114{padding:2px;color:#000072;}
.c115{padding:3px;color:#000073;}
.c116{padding:4px;color:#000074;}
.c117{padding:5px;color:#000075;}
.c118{padding:6px;color:#000076;}
.c119{padding:7px;color:#000077;}
.c120{padding:0px;color:#000078;}
.c121{padding:1px;color:#000079;}
.c122{padding:2px;color:#00007a;}
.c123{padding:3px;color:#00007b;}
.c124{padding:4px;color:#00007c;}
.c125{padding:5px;color:#00007d;}
.c126{padding:6px;color:#00007e;}
.c127{padding:7px;color:#00007f;}
.c128{padding:0px;color:#000080;}
.c129{padding:1px;color:#000081;}
.c130{padding:2px;color:#000082;}
.c131{padding:3px;color:#000083;}
.c132{padding:4px;color:#000084;}
.c133{padding:5px;color:#000085;}
.c134{padding:6px;color:#000086;}
.c135{padding:7px;color:#000087;}
.c136{padding:0px;color:#000088;}
.c137{padding:1px;color:#000089;}
.c138{padding:2px;color:#00008a;}
.c139{padding:3px;color:#00008b;}
.c140{padding:4px;color:#00008c;}
.c141{padding:5px;color:#00008d;}
.c142{padding:6px;color:#00008e;}
.c143{padding:7px;color:#00008f;}
.c144{padding:0px;color:#000090;}
.c145{padding:1px;color:#000091;}
.c146{padding:2px;color:#000092;}
.c147{padding:3px;color:#000093;}
.c148{padding:4px;color:#000094;}
.c149{padding:5px;color:#000095;}
